In [86]:
import pandas as pd  
import numpy as np  
import matplotlib as plt  
import seaborn 
%matplotlib inline

In [87]:
df=pd.read_csv(r'API_KOF')

In [88]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.881564e+08,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.349794e+08,NaN,NaN
1,Afghanistan,AFG,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.217342e+07,5.682366e+07,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.341936e+07,NaN
2,Angola,AGO,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.023771e+09,-1.464628e+09,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09,NaN
3,Albania,ALB,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.048707e+09,9.179946e+08,1.254151e+09,1.149928e+09,9.895783e+08,1.044390e+09,1.022758e+09,1.204383e+09,1.208739e+09,NaN
4,Andorra,AND,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
for v in df['Indicator Name']:
    methodology=[]
    methodology.append(v)
    break
print(methodology)

['Foreign direct investment, net inflows (BoP, current US$)']

In [90]:
df.drop(columns=['Indicator Name','Indicator Code','Unnamed: 64'])

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.867598e+08,4.881564e+08,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.349794e+08,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.907744e+08,5.217342e+07,5.682366e+07,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.341936e+07
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.227211e+09,-3.023771e+09,-1.464628e+09,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.089898e+09,1.048707e+09,9.179946e+08,1.254151e+09,1.149928e+09,9.895783e+08,1.044390e+09,1.022758e+09,1.204383e+09,1.208739e+09
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.900488e+08,5.353265e+08,2.930898e+08,3.714922e+08,1.998884e+08,3.433506e+08,2.437871e+08,2.868352e+08,3.185430e+08,3.040855e+08
260,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.886418e+08,-5.178429e+08,-1.423919e+07,-1.335709e+08,-2.331047e+08,-1.544481e+07,-5.610000e+08,-2.698500e+08,-2.820983e+08,NaN
261,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.693272e+09,4.139289e+09,4.626029e+09,8.232519e+09,5.791659e+09,1.521140e+09,2.215307e+09,2.058580e+09,5.569462e+09,4.624503e+09
262,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.729300e+09,1.108500e+09,1.731500e+09,2.099800e+09,1.507800e+09,1.582667e+09,6.628139e+08,1.107520e+09,4.084385e+08,4.814047e+08
263,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.225867e+08,3.443000e+08,3.498500e+08,3.730500e+08,4.728000e+08,3.992000e+08,3.430138e+08,2.471877e+08,7.446372e+08,NaN

In [91]:
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2016              float64
2017              float64
2018              float64
2019              float64
Unnamed: 64       float64
Length: 65, dtype: object

In [98]:
df2=pd.DataFrame(df,columns=['Country Name','Country Code','2017'])

In [99]:
df2

     Country Name Country Code          2017
0           Aruba          ABW  1.624636e+08
1     Afghanistan          AFG  5.153390e+07
2          Angola          AGO -7.397295e+09
3         Albania          ALB  1.022758e+09
4         Andorra          AND           NaN
..            ...          ...           ...
259        Kosovo          XKX  2.868352e+08
260   Yemen, Rep.          YEM -2.698500e+08
261  South Africa          ZAF  2.058580e+09
262        Zambia          ZMB  1.107520e+09
263      Zimbabwe          ZWE  2.471877e+08

[264 rows x 3 columns]

In [ ]:
pd.read_csv()